:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--light-grayish-blue);
  font-family: 'Manrope', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1.5rem;
  font-size: 0.8125rem;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  max-width: 730px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  color: var(--desaturated-dark-blue);
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__body {
  padding: 2.25rem 2rem 1.25rem;
}

.card__title {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--very-dark-grayish-blue);
  letter-spacing: 0.2px;
}

.card__text {
  margin-top: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.12px;
}

.card__bottom {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.bottom-img {
  width: 40px;
  border-radius: 50%;
}

.person-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: var(--grayish-blue);
}

.person-details__name {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.btn-share {
  margin-left: auto;
  border: none;
  width: 32px;
  height: 32px;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.footer {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 78px;
  padding: 0 2.25rem;
  background-color: var(--very-dark-grayish-blue);
  color: var(--grayish-blue);
  display: flex;
  align-items: center;
  transition: visibility 0.2s, opacity 0.2s;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.footer__text {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.footer__links {
  display: flex;
  align-items: center;
  margin-left: 1.375rem;
  gap: 1rem;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .card__img {
    max-width: 285px;
    object-fit: cover;
    object-position: left;
  }

  .card__body {
    padding: 2rem 2.5rem;
  }

  .card__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .card__bottom {
    margin-top: 1.25rem;
  }

  .footer {
    height: 55px;
    max-width: 248px;
    border-radius: 10px;
    bottom: 82px;
    right: 5px;
    left: unset;
  }
}
